@page "/Auth/Login"
@using Domain.Common.Exceptions
@using Ui.Components.Common


@layout AuthLayout
@rendermode InteractiveServer

<AntiforgeryToken>@(new AntiforgeryToken())</AntiforgeryToken>

<Toast ErrorMessage="@ErrorMassage"
            IsVisible="@ShowToast"
            MessageType="ToastType"
            OnClose="CloseToast"/>
    
    <AuthForm Model="LoginCommand" OnValidSubmit="Submit" FormName="Login" Enhance="@true"
              class="auth-form shadow-around">

        <div class="site-logo">
            <a href="#">
                <img src="./assets/images/logo.png" alt="logo">
            </a>
        </div>
        <div class="auth-form-title">
            ورود به سامانه
        </div>

        <AuthInput Label="نام کاربری/شماره همراه" Icon="fad fa-mobile-alt">
            <Control>
                <InputText @bind-Value="LoginCommand.PhoneNumber" class="input-element"
                           id="phone-number"/>
            </Control>
            <Validation>
                <ValidationMessage For="@(() => LoginCommand.PhoneNumber)"/>
            </Validation>
        </AuthInput>

        <AuthInput Label="کلمه عبور" Icon="fad fa-key-skeleton">
            <Control>
                <InputText @bind-Value="LoginCommand.Password" class="input-element" id="password"/>
            </Control>
            <Anchor>
                <AuthAnchor class="link--with-border-bottom" NavigationText="رمز عبور خود را فراموش کرده‌ام"
                            ToAddress="/Auth/ForgetPassword"></AuthAnchor>
            </Anchor>
            <Validation>
                <ValidationMessage For="@(() => LoginCommand.Password)"/>
            </Validation>
        </AuthInput>

        <AuthButton ButtonText="ورود به همتا" class="btn-element btn-info-element"  Icon="fad fa-sign-in-alt"/>
        
        <AuthAnchor class="link--with-border-bottom" Label="کاربر جدید هستید" NavigationText="ثبت نام در همتا" ToAddress="/Auth/Register"/>
    </AuthForm>

@code {

    [SupplyParameterFromForm(FormName = "LoginForm")]
    public LoginCommand LoginCommand { get; set; } = new();

    private bool ShowToast { get; set; }
    private string ErrorMassage { get; set; }
    public Toast.MessageTypes ToastType { get; set; }


    private async Task Submit()
    {
        try
        {
            var result = await Auth.Login(LoginCommand);
            if (!result.IsSuccess)
            {
                ErrorMassage = result.MetaData.Message;
                ToastType = Toast.MessageTypes.Info;
                ShowToast = true;
                await InvokeAsync(StateHasChanged);
                return;
            }
        }
        catch (NotFoundException ex)
        {
        ErrorMassage = ex.Message;
        ToastType = Toast.MessageTypes.Danger;
        ShowToast = true;
        await InvokeAsync(StateHasChanged); 
        }
        catch (HttpRequestException ex)
        {
            ErrorMassage = ex.Message;
            ToastType = Toast.MessageTypes.Danger;
            ShowToast = true;
            await InvokeAsync(StateHasChanged);
        }
    }

    private void CloseToast()
    {
        ShowToast = false;
        StateHasChanged();
    }

}