@using Application.User.UserAddress.Responses
        
<div class="col-xl-3 col-lg-4 col-sm-6 mb-3 Text-Color">
    <MudCard Outlined="true" Elevation="@(Address.ActiveAddress ? 2 : 1)">
        <MudCardHeader class="cardHeader">
            <CardHeaderActions>
                <MudRadio                   
                    Placement="Placement.Left"
                    Color="Color.Success"  
                    UncheckedColor="Color.Warning"
                    Size="Size.Small"
                    Value="Address.Id" 
                    Dense="true">
                    <MudText
                        Class="Text-Color"
                        Color="Color.Dark"
                        GutterBottom="true"
                        Align="Align.Left">
                        به این آدرس ارسال شود
                    </MudText>
                </MudRadio>
            </CardHeaderActions>
        </MudCardHeader>

        <MudDivider DividerType="DividerType.Middle" Style="border-color: #997799"/>


        <MudCardContent>
            <MudText Align="Align.Start" Class="Text-Color">
                @Address.FullAddress()
            </MudText>
            <MudText
                Class="Text-Color"
                Align="Align.Start">
                <MudIcon Icon="@Icons.Material.Filled.Person"/>
                @Address.ContactName()
            </MudText>

            <MudText Align="Align.End">
                <MudLink Underline="Underline.None" OnClick="EditAddress">
                    ویرایش
                    <MudIcon Icon="@Icons.Material.Filled.Edit"/>
                </MudLink>
            </MudText>
        </MudCardContent>
    </MudCard>
</div>
 









@code
{                         
    [Parameter]
    public required AddressDto Address { get; set; } = null!;


    private bool Selected { get; set; }





    protected override void OnParametersSet()
    {

        Selected = Address.ActiveAddress;
    }


    private async Task EditAddress()
    {

    }

}
