@using MyShop.Ui.Commen.Dialogs.Profile
    



<div class="col-xl-3 col-lg-4 col-sm-6 mb-3 Text-Color">
        <MudCard Outlined="true" Elevation="@(Address.ActiveAddress ? 2 : 1)" >
            <div class="height align-stretch mud-card-header">
                <div class="mud-card-header-content">


                    <div Class="justify-space-between Min-ToolBar mud-toolbar" role="toolbar">
                        <MudRadio
                            class="Min-height-Content"
                            Placement="Placement.Left"
                            Color="Color.Success"
                            UncheckedColor="Color.Warning"
                            Size="Size.Small"
                            Value="Address.Id"
                            Dense="true">
                            <MudText Typo="Typo.caption">
                                آدرس @(Address.ActiveAddress ? " فعال" : " غیر فعال")
                            </MudText>
                        </MudRadio>

                        <div>
                            <MudIconButton class="Min-height-Content"
                                           Icon="@Icons.Material.Outlined.Edit"
                                           Size="Size.Small"
                                           OnClick="EditAddress"
                                           Color="Color.Warning"
                            />
                            <MudIconButton class="Min-height-Content"
                                           Icon="@Icons.Material.Outlined.Delete"
                                           Color="Color.Error"
                                           OnClick="Delete"
                                           Size="Size.Small"/>
                        </div>
                    </div>


                </div>
            </div>

            <MudDivider DividerType="DividerType.Middle" Style="border-color: #997799"/>


            <MudCardContent>
                <MudText Align="Align.Start" Class="Text-Color">
                    @Address.FullAddress()
                </MudText>
                <MudText
                    Class="Text-Color"
                    Align="Align.Start">
                    <MudIcon Icon="@Icons.Material.Filled.Person"/>
                    @Address.ContactName()
                </MudText>
            </MudCardContent>
        </MudCard>
    </div>







@code
{                         
    [Parameter]
    public required AddressDto Address { get; set; }

    [Parameter] public EventCallback<long> DeleteAddress { get; set; }


    private async Task EditAddress()
    {
    var parameters = new DialogParameters<AddressDialog> { { a=>a.Command, Address } };

    var dialog = await DialogService.ShowAsync<AddressDialog>(" ویرایش آدرس", parameters , new DialogOptions { CloseButton = true, BackgroundClass = "backdrop-filter: blur(8px);" } );
        await dialog.Result;
        StateHasChanged();
    }

    private async Task Delete(MouseEventArgs arg)
    {
        await DeleteAddress.InvokeAsync(Address.Id);
    }
}
